.btn-primary {
    background-color: #27B9C2;
    color: #fff !important;
    border: none;
    border-radius: 5px;
}

.btn-primary>span {
    /* background-color: #27B9C2 !important; */
    color: #fff !important;
    fill: #fff !important;
    /* border: none !important; */
    /* border-radius: 5px !important; */
}


/* a {
    color: #27B9C2 !important;
} */